<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>ユーザー登録・更新・削除</title>


<body>
	<!-- 共通部品側を呼び出す(ヘッダー)　!-->
	<!--
	th:replaceで取り込む対象を指定します。
	test1/HeadFootは、フォルダ名+ファイル名です。
!-->

	<div th:replace="test1/HeadFoot::header1"></div>

	<br> <br>
	<h2>社員を新規で登録する</h2>
	<form th:action="@{/inputEachAll}" method="post">
		名前：<input type="text" th:id="namae" th:name="namae" th:value="${namae}" ><br>
		苗字：<input type="text" th:id="myoji" th:name="myoji" th:value="${myoji}" ><br>
		性別：<input type="text" th:id="sex" th:name="sex" th:value="${sex}" ><br>

		<label for="textarea">テキストエリア</label><br />
		<textarea  rows="10" cols="50" th:id="textarea" th:name="textarea" th:value="${textarea}" ></textarea>
		<br><br>


		<label for="select">セレクト</label><br />
		<select th:id="select" th:name="select" th:value="${select}" >
			<option value="0"></option>
			<option value="1">志望する</option>
			<option value="2">志望しない</option>
		</select>
		<br><br>

		<label style="width: 300">　面談予定日 </label><br />
		<input type="date" th:id="first_interview_scheduled_date" th:name="first_interview_scheduled_date" th:value="${first_interview_scheduled_date}" />
		<br><br>
		
		<label style="width: 300">　面談予定時間 </label><br />
		<input type="time" th:id="first_interview_scheduled_time" th:name="first_interview_scheduled_time" th:value="${first_interview_scheduled_time}" />
		<br><br>
		

		<!-- ここから下のコメントはJSPの書き方
		<label for="second_interview_time">二次面談実施時間</label><br />
		<input type="time" name="second_interview_time"
			th:field="<fmt:formatDate value='${schedule.second_interview_time}' pattern='HH:mm' />"
			${#dates.format(date, 'dd/MMM/yyyy HH:mm')}
		/>
		<br /><br />
		<label for="second_interview_date">二次面談実施日</label><br />
		<input type="date" name="second_interview_date"
			value="<fmt:formatDate value='${schedule.second_interview_date}' pattern='yyyy-MM-dd' />" />
		<br /><br />
!-->

		<input type="submit" value="新規登録">
	</form>


	<!-- 福本作成アップデートフォーム!-->
	<br> <br>
	<h2>社員を更新する</h2>
	<form th:action="@{/update}" th:object="${employeeForm}" method="post">
		ID：<input type="text" th:field="*{id}"><br>
		名前：<input type="text" th:field="*{namae}"><br>
		苗字：<input type="text" th:field="*{myoji}"><br>
		性別：<input type="text" th:field="*{sex}"><br>
		<input type="submit" value="更新">
	</form>

	<br>
	<button onclick="location.href='test2'">一覧表示</button>


	<!-- 共通部品側を呼び出す(ヘッダー)　!-- >
<!--
	th:replaceで取り込む対象を指定します。
	test1/HeadFootは、フォルダ名+ファイル名です。
!-->
	<div th:replace="test1/HeadFoot::header1"></div>

</body>

</html>