<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>ユーザー新規登録</title>
<link href="/css/add.css" rel="stylesheet">
</link>

<head>
	<meta charset="utf-8">
	<title>check</title>
</head>

<body>
	
	<form action="/inputOne" method="post">
        <input type="text" name="namae">
        <input type="submit" value="送信">
    </form>

	
	<!-- 
	<form method="post" th:action="@{/test1/insert}" th:object="${employeeForm}">
		<table>
			<tr>
				<th class="cell_title">名前</th>
				<td><input type="text" th:field="*{namae}"></td>
			</tr>
			<tr>
				<th class="cell_title">苗字</th>
				<td><input type="text" th:field="*{myoji}"></td>
			</tr>
			<tr>
				<th class="cell_title">性別</th>
				<td><input type="text" th:field="*{sex}"></td>
			</tr>
			
		</table>
		<div class="btn_area_center"><input type="submit" value="登録" class="btn"></div>
	</form>
	!-->

	<br>
	<button onclick="location.href='test2'">一覧表示</button>
</body>

</html>